
body {
    background-image: url("../image/image.jpeg");
    background-size: cover;
}

.container{
    backdrop-filter: blur(2px);
    background-color: transparent;
    position: relative;
    width:30%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px 12px black;
}
.header-text {
    position: relative;
    text-align: center;
}
h2 {
    font-size: 30px;
    color:white;
}

.form {
    margin:auto;     
    max-width: 70%;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control input {
    border-radius: 10px;
        border: 1px solid black;
        background-color: whitesmoke;
        color:black;
        font-size: 14px;
        padding: 10px;
        width: 100%;
}
.form-control small {
    font-size: 20px;
    color: #e74c3c;
    position: absolute;
    display: block;
}

.form-control.error small {
    visibility:visible;
}

.form button {
    background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
    border-radius: 15px;
    color: #000;
    font-size: 20px;
    padding: 10px;  
    margin-top: 20px;
    width: 100%;
} 


p{
    color:white;
    font-size: 25px;
}
